@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* ABOUT PAGE */
/* Page header */
.page-header {
    background: #020d54;
    width: 100%;
    height: 40vh;
    /*background-size: cover;*/
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}

.page-header h2, 
.page-header p {
    color: #fff;
}

/* About section */
.about-card-right {
    margin-top: 70px;
    display: flex;
    align-items: center;
}

.about-card-right img {
    width: 45%;
    height: auto;
}

.about-card-right div {
    padding-left: 40px;
}

.about-card-left {
    margin-top: 70px;
    display: flex;
    align-items: center;
}

.about-card-left img {
    width: 45%;
    height: auto;
}

.about-card-left div {
    padding-right: 40px;
}

/* Video section */
.about-vid {
    text-align: center;
}

.about-vid h1 a {
    color: rgb(128, 35, 165);
    transition: ease 0.4s;
}

.about-vid h1 a:hover {
    color: #5C53C6;
}

.about-vid h1 a:active {
    color: #5C53C6;
}

.about-vid iframe {
    margin-top: 30px;
    border-radius: 20px;
    height: 400px;
}

/* Feature box */
.feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.feature .fe-box {
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;
    transition: 0.4s;
}

.feature .fe-box:hover {
    box-shadow: 10px 10px 54px rgba(0, 0, 0, 0.1);
    transform: perspective(50px) translateZ(1px);
    cursor: pointer;
}

.feature .fe-box img {
    margin-bottom: 10px;
}

.feature .fe-box h6 {
    display: inline-block;
    padding: 6px 10px;
    color: #5C53C6;
}

/* FE-Box text color */
.feature .fe-box .free-shipping {
    background-color: #fddde4;
}

.feature .fe-box .fast-shipping {
    background-color: #cdebbc;
}

.feature .fe-box .save-money {
    background-color: #d1e8f2;
}

.feature .fe-box .promotions {
    background-color: #cdd4f8;
}

.feature .fe-box .online-order {
    background-color: #f6dbf6;
}

.feature .fe-box .support247 {
    background-color: #fff2e5;
}


/* Multi media support */
/* Sizing for tablets */
@media (max-width: 800px) {
    .page-header {
        height: 40vh;
        padding: 0 80px;
        background-position: 30%;
    }

    .feature {
        justify-content: center;
    }

    .feature .fe-box {
        margin: 15px;
    }

    .about-vid iframe {
        width: 100%;
    }
}

/* Sizing for phone */
@media (max-width: 500px) {
    .page-header {
        padding: 0 10px;
        background-position: 55%;
    }

    .feature {
        justify-content: space-around;
    }

    .feature .fe-box {
        width: 150px;
        margin: 15px;
    }

    .about-vid iframe {
        height: 300px;
    }

    .about-card-right {
        flex-direction: column;
    }

    .about-card-right img {
        width: 100%;
        margin-bottom: 20px;
    }

    .about-card-left {
        flex-direction: column;
    }

    .about-card-left img {
        width: 100%;
        margin-bottom: 20px;
    }

    .about-card-left div {
        padding-left: 0px;
    }

    .about-card-right div {
        padding-left: 0px;
    }
}
