@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Spartan", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
}

button.chat {
    border: none;
    outline: none;
    cursor: pointer;
}

button.normal {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: black;
    background: white;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.4s;
}

.section-p1 {
    padding: 40px 80px;
}

/* Pop-up chatbox */
.chatbox {
    text-align: center;
    padding: 0 1rem;
    position: relative;
    z-index: 1;
}

.chatbox .chat-btn {
    position: fixed;
    bottom: 20px;
    right: 30px;
    background: #5C53C6;
    color: white;
    width: 53px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    transition: 0.2s;
}

.chatbox .chat-btn:hover {
    background: #000a47;
}

.chatbox .chat-popup {
    display: none;
    position: fixed;
    bottom: 50px;
    right: 90px;
    height: 400px;
    width: 330px;
    background: #eaeaea;
    /* display: flex; */
    flex-direction: column;
    justify-content: space-between;
    padding: 0.75rem;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

.chat-popup.active {
    display: flex;
}

.chatbox .chat-area {
    height: 80%;
    overflow-y: auto; /* in case the text is long and we need to scroll */
    overflow-x: hidden; /* to x axis scrolling */
}

.chatbox .income-msg {
    display: flex;
    align-items: center;
}

.chatbox .avatar {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
}

.chatbox .income-msg .msg {
    background: white;
    color: black;
    padding: 0.5rem;
    border-radius: 25px;
    margin-left: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

.chatbox .input-area {
    position: relative;
    display: flex;
    justify-content: center;
}

.chatbox .input-area .text-input {
    width: 100%;
    border: 1px solid #ccc;
    font-size: 1rem;
    border-radius: 5px;
    height: 2.2rem;
}

.chatbox .input-area .submit {
    padding: 0.25rem 0.5rem;
    margin-left: 0.5rem;
    background: #5C53C6;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    opacity: 0.7;
    transition: 0.2s;
}

.chatbox .input-area .submit:hover {
    opacity: 1;
}

.chatbox .output-msg {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.chatbox .user-msg {
    display: flex;
    justify-content: flex-end;
    margin: 0.75rem;
    padding: 0.5rem;
    background: #5C53C6;
    border-radius: 25px;
    margin-right: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    word-break: break-all; /* for showing long messages in the small chatbox */
}

/* HEADER */
.custom-body .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px 20px 60px;
    background: #5C53C6;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

.navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    transition: 0.4s;
    opacity: 70%;
}

.navbar li a:hover,
.navbar li a.active {
    color: #fff;
    opacity: 100%;
}

.navbar li a.active::after,
.navbar li a:hover::after {
    content: "";
    width: 57%;
    height: 2px;
    background: #fff;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

.mobile {
    display: none;
    align-items: center;
}

#close {
    display: none;
}

.banner1{
    height: 65vh;
    width: 100%;
    justify-content: center;
    background-color: #e4e6f3;
    position: relative;
}

.banner1 .blur{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.ban-img img{
    position: absolute;
    height: 100%;
    width: 100%; 
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
/* Search-box */
.search-box{
    margin: 20px auto 20px 20px ;
}

.search-box input{
    height: 45px;
    /* border-radius: 50px; */
    padding-top: 15px;
    font-size: 18px;
}

input{
    padding: 10px;
}

.search-box button{
    height: 43px;
    width: 65px;
    border: none;
    background-color: white;
    margin-left: 0px;
    padding-top: 10px;
}

.custom-body .search-box{
    padding-left: 25px;
}

.fa-search{
    font-size: 27px;
    /* font-weight: 10px; */
}

.fa-search:hover{
    color: #5C53C6;
}

/* Filter courses */
.search-filter{
    margin: 15px;
    display: flex;
}
.custom-body .search-filter{
    padding-left: 25px;
}
.custom-body .countResults{
    padding-left: 25px;
    padding-top: 20px;
}

select{
    /* border-radius: 50px; */
    height: 30px;
    width: 160px;
}

/* Courses */
.pro-box{
    /* box-shadow: 0 2px 6px 0 rgba(0,0,0,.19);
    position: relative;*/
    height: 460px; 
    position: relative;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    /* margin: 15px 0; */
    transition: 0.5s;
    padding: 10px 12px;
}

.pro-box img{
    max-width: 100%;
    border-radius: 20px;
}

.pro-box .desc {
    text-align: start;
    padding: 10px 0;
}

.pro-box .desc span {
    color: #060663;
    font-size: 12px;
}

.pro-box .desc h5 {
    padding-top: 6px;
    color: #1a1a1a;
    font-size: 14px;
}

.pro-box .desc h4 {
    padding-top: 6px;
    font-size: 15px;
    font-weight: 700;
    color: #5C53C6;
}

.pro-box .add-cart {
    text-decoration: none;
    font-size: 13px;
    font-weight: 600;
    color: #1a1a1a;
    background: #d1e8f2;
    padding: 4px 10px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    
}

.pro-box .add-cart:hover {
    color: #5C53C6;
}

.desc a{
    text-decoration: none;
    color: #5C53C6;
}
.desc a:hover{
    text-decoration: underline;
}

/* Linked-page */
.linked-pages{
    text-align: center;
    display: flex;
    margin-top: 40px;
    margin-bottom: 40px;
    justify-content: center;
}
.linked-pages li{
    list-style: none;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background-color:#FFF5E1;
    padding-top: 10px;
    margin-left: 5px;
}
.linked-pages a{
    text-decoration: none;
    padding-top: 10px;
    color: #1a1a1a;
    font-size: 17px;
}

.linked-pages li:hover a,
.linked-pages li a.active 
{
    color: white;
    transition: 0.3s;
}

.linked-pages li:hover,
.linked-pages li.active{
    background-color: #5C53C6;
    transition: 0.5s;
}

/* Footer */
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: 1px solid black;
    background: #e3e6f3;
}

footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .logo {
    margin-bottom: 30px;
}

footer h4 {
    font-size: 14px;
    padding-bottom: 20px;
}

footer p {
    font-size: 12px;
    margin: 0;
    margin-bottom: 8px;
}

footer a {
    font-size: 12px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}

footer a:hover {
    color: #5C53C6;
}

footer .copyright {
    width: 100%;
    text-align: center;
}

@media (min-width: 375px) {
    .pro-box{
        height: 470px;
    }
}

@media (min-width: 412px) {
    .pro-box{
        height: 520px;
    }
}

@media (min-width: 576px) {
    .pro-box{
        height: 360px;
    }
}

@media (min-width: 768px) {
    .pro-box{
        height: 360px;
    }
}

@media (min-width: 992px) {
    .pro-box{
        height: 430px;
    }
}

@media (min-width: 1200px) {
    .pro-box{
        height: 400px;
    }
}

@media (min-width: 1400px) {
    .pro-box{
        height: 430px;
    }
}

@media (min-width: 1440px) {
    .pro-box{
        height: 450px;
    }
}

@media (max-width: 1025px) {
    .banner1 {
        height: 560px;
    }
    .custom-body .header{
        padding-right: 40px;
    }

}

/* Multi media support */
/* Sizing for tablets */
@media (max-width: 950px) {
    .section-p1 {
    padding: 40px 40px;
}
.custom-body .navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: nowrap;
    position: fixed;
    top: 0;
    right: -300px;
    height: 95vh;
    width: 300px;
    background: #e3e6f3;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 0;
    padding-top: 80px;
    padding-left: 10px;
    transition: 0.4s;
}
 
#navbar.active {
    right: 0;
}
    
.navbar li {
    margin-bottom: 25px;
}
    
.navbar li a {
    color: #1a1a1a;
}

.custom-body .navbar li {
    margin-bottom: 25px;
}
    
.custom-body .navbar li a:hover,
.custom-body .navbar li a.active {
    color: #5C53C6;
}
    
.custom-body .navbar li a.active::after,
.custom-body .navbar li a:hover::after {
    content: "";
    width: 57%;
    height: 2px;
    background: #5C53C6;
    position: absolute;
    bottom: -4px;
    left: 20px;
}
    
.custom-body .mobile {
    display: flex;
    align-items: center;
}
    
.custom-body .mobile i {
    color: #1a1a1a;
    padding-left: 20px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.4s;
    font-size: 2em;
    padding-bottom: 5px;
}
   
.custom-body .mobile a i {
    font-size: 1.25em;
    padding-left: 15px;
}

.custom-body .mobile a,
.custom-body .mobile i,
.custom-body .mobile .login-but {
    color: #e3e6f3;
    opacity: 90%;
}
    
.custom-body .mobile i:hover,
.custom-body .mobile a:hover,
.custom-body .mobile .login-but:hover {
    color: #e3e6f3;
    opacity: 100%;
}
    
.custom-body .mobile a {
    text-decoration: none;
    color: #1a1a1a;
    font-size: 22px;
    font-weight: 600;
    transition: 0.4s;
}
 
#close {
    display: initial;
    position: absolute;
    top: 30px;
    left: 30px;
    color: #222;
    font-size: 24px;
    text-decoration: none;
    transition: 0.4s;
}
    
#close:hover {
    color: #5C53C6;
    cursor: pointer;
}
    
#lg-cart {
    display: none;
}
    
.banner1 {
    height: 50vh;
    background-position: 30%;
}
}

/* Sizing for phone */
@media (max-width: 500px) {
    .section-p1 {
    padding: 20px;
}
    
.header {
    padding: 10px 30px;
}
    
.banner1 {
    background-position: 55%;
    height: 300px;
}
    
.chatbox .chat-popup {
    bottom: 70px;
    right: 19%;
    width: 75vw; /* 80% of view width */
    height: 80vw;
}

.course-container .course-box {
    margin-right: 15px;
    margin-left: 15px;
}

.count-Results{
    margin-left: 10px;
}
.search-filter{
    display: block;
}
}

