/* Fade animation */
.fade {
    animation-name: fade;
    animation-duration: 0.8s;
}

@keyframes fade {
    0% {
        opacity: 0.8;
    }
    100% {
        opacity: 1;
    }
}

/* Cart page */
.page-header {
    background: #543e60;
    width: 100%;
    height: 50vh;
    /*background-size: cover;*/
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
    position: relative;
}

.page-header img{
    position: absolute;
    height: 100%;
    width: 100%; 
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.page-header h2,
.page-header p {
    color: #fff;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3em 5em;
}

.cart {
    display: flex;
    width: 90%;
    margin: 2em 0;
}

.cart .table {
    width: 100%;
    border-collapse: collapse;
    display: table;
}

.cart .table .row {
    display: table-row;
    font-size: 1.2em;
}

.cart .table .row:nth-child(1) {
    font-weight: bold;
    background-color: #5C53C6;    
    color: white;
}

.cart .table .row .cell {
    display: table-cell;
    padding: 0.5em 1em;
    border-bottom: 1px solid #5C53C6;
    text-align: center;
    vertical-align: middle;
}

.cart .table .row .cell a {
    color: #1a1a1a;
    text-decoration: none;
}

.cart .table .row .cell a:hover {
    color: #088178;
    font-weight: bold;
}

.cart .table .row .cell:nth-child(1) {
    width: 10%;
}

.cart .table .row .cell:nth-child(2) {
    width: 30%;
}

.cart .table .row .cell:nth-child(2) img {
    width: 50%;
    height: 50%;
    object-fit: cover;
}

.cart .table .row .cell:nth-child(2) img:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.cart .table .row .cell:nth-child(3) {
    width: 30%;
}

.cart .table .row .cell:nth-child(4) {
    width: 15%;
}

.cart .table .row .cell:nth-child(4) input {
    width: 50%;
    padding: 0.5em;
    border: 1px solid #5C53C6;
    border-radius: 5px;
    text-align: center;
}

.cart .table .row .cell:nth-child(4) input:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.cart .table .row .cell:nth-child(5) {
    width: 15%;
}

.open-img-cont {
    display: none;
    position: fixed;
    align-items: center;
    justify-content: center;
    z-index: 1;
    padding: 2em 0 0 0;
    left: 0;
    top: 10%;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}

.open-img-cont .open-img {
    margin: auto;
    display: block;
    max-height: 60vh;
}

.open-img-cont .caption {
    margin: auto;
    display: block;
    width: 100%;
    max-width: 60vh;
    text-align: center;
    color: #ccc;
    padding: 0.5em 1em;
    height: 8em;
}

.open-img-cont .open-img,
.open-img-cont .caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

.open-img-cont .close {
    position: absolute;
    top: 1em;
    right: 1.5em;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.2s;
}

.open-img-cont .close:hover,
.open-img-cont .close:focus {
    color: #088178;
    text-decoration: none;
    cursor: pointer;
}

.coupon-total {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin-bottom: 2em;
    padding: 1em;
}

.coupon-total .coupon {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
}

.coupon-total .coupon label h2 {
    margin: 1em;
}

.coupon-total .coupon input {
    width: 100%;
    padding: 0.5em;
    border: 1px solid #5C53C6;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 3em;
}

.coupon-total .coupon input:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.coupon-total .coupon button {
    width: 40%;
    padding: 0.5em 1em;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #5C53C6;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}

.coupon-total .coupon button:hover {
    background-color: #088178;
}

.coupon-total .total {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
    text-align: center;
}

.coupon-total .total h2 {
    margin: 1em;
}

.coupon-total .total .table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 3em;
    display: table;
}

.coupon-total .total .table .row {
    display: table-row;
    font-size: 1.2em;
}

.coupon-total .total .table .row:nth-child(4) {
    font-weight: bold;
    background-color: #5C53C6;
    color: white;
}

.coupon-total .total .table .row .cell {
    display: table-cell;
    padding: 1em;
    border-bottom: 1px solid #5C53C6;
    text-align: center;
    vertical-align: middle;
}

.coupon-total .total .table .row .cell:nth-child(1) {
    width: 50%;
}

.coupon-total .total .table .row .cell:nth-child(2) {
    width: 50%;
}

.coupon-total .total .checkout-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.coupon-total .total .checkout-btn a {
    padding: 0.5em 1em;
    border: 1px solid #1a1a1a;
    border-radius: 5px;
    background-color: #5C53C6;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
    text-decoration: none;
}

.coupon-total .total .checkout-btn a:hover {
    background-color: #088178;
}

.checkout {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 90%;
    padding: 1em;
}

.checkout .title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 2em;
    padding: 1em;
    border-bottom: 1px solid #5C53C6;
}

.checkout .title h2 {
    margin-right: 1em;
}

.checkout .pm-method-cont {
    display: flex;
    align-items: start;
    width: 100%;
    justify-content: space-between;
    margin: 1.5em 0;
}

.checkout .pm-method-cont .pm-method {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
    margin: 0 1.5em;
    padding: 0.5em 1em;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
    position: relative;
    background-color: #5C53C6;
    font-weight: bold;
    color: white;
}

.checkout .pm-method-cont .pm-method:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    background-color: #088178;
}

.checkout .pm-method-cont .pm-method input {
    display: none;
}

.checkout .pm-method-cont .pm-method label {
    font-size: 1.2em;
    cursor: pointer;
    text-align: center;
}

.checkout .pm-method-cont .pm-method .tooltip {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    top: 110%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #5C53C6;
    color: #fff;
    text-align: center;
    padding: 0.5em;
    border-radius: 6px;
    width: 100%;
    opacity: 0;
    transition: opacity 0.3s;
}

.checkout .pm-method-cont .pm-method:hover .tooltip {
    visibility: visible;
    opacity: 0.5;
}

.checkout .pm-detail-cont {
    width: 80%;
    padding: 1em;
}

.checkout .pm-detail-cont .details {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 1.5em 2.5em;
    border: 1px solid #5C53C6;
    border-radius: 5px;
    transition: 0.2s;
}

.checkout .pm-detail-cont .if-cc .card-name,
.checkout .pm-detail-cont .if-cc .card-num,
.checkout .pm-detail-cont .if-cc .card-exp,
.checkout .pm-detail-cont .if-cc .card-cvv,
.checkout .pm-detail-cont .if-cod .name,
.checkout .pm-detail-cont .if-cod .country,
.checkout .pm-detail-cont .if-cod .city,
.checkout .pm-detail-cont .if-cod .address,
.checkout .pm-detail-cont .if-cod .zip,
.checkout .pm-detail-cont .if-cod .phone,
.checkout .pm-detail-cont .if-cod .email {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 1em;
}

.checkout .pm-detail-cont .if-cc .card-name label,
.checkout .pm-detail-cont .if-cc .card-num label,
.checkout .pm-detail-cont .if-cc .card-exp label,
.checkout .pm-detail-cont .if-cc .card-cvv label,
.checkout .pm-detail-cont .if-cod .name label,
.checkout .pm-detail-cont .if-cod .country label,
.checkout .pm-detail-cont .if-cod .city label,
.checkout .pm-detail-cont .if-cod .address label,
.checkout .pm-detail-cont .if-cod .zip label,
.checkout .pm-detail-cont .if-cod .phone label,
.checkout .pm-detail-cont .if-cod .email label {
    margin-right: 1em;
    width: 40%;
}

.checkout .pm-detail-cont .if-cc .card-name input,
.checkout .pm-detail-cont .if-cc .card-num input,
.checkout .pm-detail-cont .if-cc .card-exp input,
.checkout .pm-detail-cont .if-cc .card-cvv input,
.checkout .pm-detail-cont .if-cod .name input,
.checkout .pm-detail-cont .if-cod .country input,
.checkout .pm-detail-cont .if-cod .city input,
.checkout .pm-detail-cont .if-cod .address input,
.checkout .pm-detail-cont .if-cod .zip input,
.checkout .pm-detail-cont .if-cod .phone input,
.checkout .pm-detail-cont .if-cod .email input {
    width: 100%;
    padding: 0.5em 2em;
    border: 1px solid #5C53C6;
    border-radius: 5px;
}

/* Delete increase/decrease btn of number's input */
/* Chrome, Safari, Edge, Opera */
.checkout .pm-detail-cont input::-webkit-outer-spin-button,
.checkout .pm-detail-cont input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
.checkout .pm-detail-cont input[type=number] {
    -moz-appearance: textfield;
}

.checkout .pm-detail-cont .if-cc .card-name input:hover,
.checkout .pm-detail-cont .if-cc .card-num input:hover,
.checkout .pm-detail-cont .if-cc .card-exp input:hover,
.checkout .pm-detail-cont .if-cc .card-cvv input:hover,
.checkout .pm-detail-cont .if-cod .name input:hover,
.checkout .pm-detail-cont .if-cod .country input:hover,
.checkout .pm-detail-cont .if-cod .city input:hover,
.checkout .pm-detail-cont .if-cod .address input:hover,
.checkout .pm-detail-cont .if-cod .zip input:hover,
.checkout .pm-detail-cont .if-cod .phone input:hover,
.checkout .pm-detail-cont .if-cod .email input:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.checkout .pm-detail-cont .confirm {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 1em;
}

.checkout .pm-detail-cont .confirm .total,
.checkout .pm-detail-cont .confirm .terms {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 1em;
    text-align: center;
    line-height: 1.5em;
}

.checkout .pm-detail-cont .confirm .total input,
.checkout .pm-detail-cont .confirm .terms input {
    margin-right: 1em;
}

.checkout .pm-detail-cont .confirm .total .red-star,
.checkout .pm-detail-cont .confirm .terms .red-star {
    color: red;
    font-weight: bold;
    margin-right: 0.5em;
}

.checkout .pm-detail-cont .confirm .total a,
.checkout .pm-detail-cont .confirm .terms a{
    color: #1a1a1a;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
    text-decoration: none;
}

.checkout .pm-detail-cont .confirm .total a:hover,
.checkout .pm-detail-cont .confirm .terms a:hover {
    color: #088178;
}

.checkout .pm-detail-cont .order {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 1em;
}

.checkout .pm-detail-cont .order input {
    padding: 0.5em 1em;
    border: 1px solid #1a1a1a;
    border-radius: 5px;
    background-color: #5C53C6;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
    text-decoration: none;
}

.checkout .pm-detail-cont .order input:hover {
    background-color: #088178;
}

/* Responsive */
@media screen and (max-width: 1200px) {
    .main {
        padding: 3em 2em;
    }
    .page-header{
        height: 40vh;
    }
}

@media screen and (max-width: 900px) {
    .page-header{
        height: 36vh;
    }

    .main {
        padding: 3em 0.5em;
    }

    .cart {
        width: 100%;
        overflow-x: auto;
    }

    .cart .table .row .cell {
        padding: 0.25em 0.5em;
    }
}

@media screen and (max-width: 600px) {
    .page-header{
        height: 25vh;
    }

    .cart {
        margin-bottom: 1em;
    }
    
    .coupon-total {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .coupon-total .coupon {
        width: 100%;
        margin-bottom: 2em;
    }
    
    .coupon-total .coupon input {
        width: 100%;
    }
    
    .coupon-total .coupon button {
        width: 100%;
    }
    
    .coupon-total .total {
        width: 100%;
    }
    
    .coupon-total .total .table .row .cell:nth-child(1) {
        width: 50%;
    }
    
    .coupon-total .total .table .row .cell:nth-child(2) {
        width: 50%;
    }
    
    .coupon-total .total .checkout-btn {
        width: 100%;
    }
    
    .checkout .pm-method-cont {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .checkout .pm-method-cont .pm-method {
        width: 100%;
        margin: 1em 0 2em 0;
    }
    
    .checkout .pm-detail-cont {
        width: 100%;
    }
    
    .checkout .pm-detail-cont .details {
        padding: 1em;
    }
    
    .checkout .pm-detail-cont .if-cc .card-name,
    .checkout .pm-detail-cont .if-cc .card-num,
    .checkout .pm-detail-cont .if-cc .card-exp,
    .checkout .pm-detail-cont .if-cc .card-cvv,
    .checkout .pm-detail-cont .if-cod .name,
    .checkout .pm-detail-cont .if-cod .country,
    .checkout .pm-detail-cont .if-cod .city,
    .checkout .pm-detail-cont .if-cod .address,
    .checkout .pm-detail-cont .if-cod .zip,
    .checkout .pm-detail-cont .if-cod .phone,
    .checkout .pm-detail-cont .if-cod .email {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
    
    .checkout .pm-detail-cont .if-cc .card-name label,
    .checkout .pm-detail-cont .if-cc .card-num label,
    .checkout .pm-detail-cont .if-cc .card-exp label,
    .checkout .pm-detail-cont .if-cc .card-cvv label,
    .checkout .pm-detail-cont .if-cod .name label,
    .checkout .pm-detail-cont .if-cod .country label,
    .checkout .pm-detail-cont .if-cod .city label,
    .checkout .pm-detail-cont .if-cod .address label,
    .checkout .pm-detail-cont .if-cod .zip label,
    .checkout .pm-detail-cont .if-cod .phone label,
    .checkout .pm-detail-cont .if-cod .email label {
        margin-right: 0;
        margin-bottom: 0.5em;
        width: 100%;
    }
    
    .checkout .pm-detail-cont .if-cc .card-name input,
    .checkout .pm-detail-cont .if-cc .card-num input,
    .checkout .pm-detail-cont .if-cc .card-exp input,
    .checkout .pm-detail-cont .if-cc .card-cvv input,
    .checkout .pm-detail-cont .if-cod .name input,
    .checkout .pm-detail-cont .if-cod .country input,
    .checkout .pm-detail-cont .if-cod .city input,
    .checkout .pm-detail-cont .if-cod .address input,
    .checkout .pm-detail-cont .if-cod .zip input,
    .checkout .pm-detail-cont .if-cod .phone input,
    .checkout .pm-detail-cont .if-cod .email input {
        width: 100%;
    }
    
    .checkout .pm-detail-cont .confirm .total,
    .checkout .pm-detail-cont .confirm .terms {
        text-align: left;
    }
}