@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* CONTACT PAGE */
/* Page header */
.page-header {
    background: #525252;
    width: 100%;
    height: 40vh;
    /*background-size: cover;*/
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}

.page-header h2, 
.page-header p {
    color: #fff;
}

/* Contact details */
.contact-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact-details .details {
    width: 40%;
}

.contact-details .details span {
    font-size: 15px;
}

.contact-details .details h2 {
    font-size: 26px;
    line-height: 35px;
    padding: 20px 0;
}

.contact-details .details h3 {
    font-size: 16px;
    padding-bottom: 15px;
}

.contact-details .details li {
    list-style: none;
    display: flex;
    padding: 10px 0;
}

.contact-details .details li i {
    font-size: 14px;
    padding-right: 22px;
}

.contact-details .details li p {
    font-size: 14px;
    margin: 0;
}

.contact-details .map {
    width: 55%;
    height: 400px;
}

.contact-details .map iframe {
    width: 100%;
    height: 100%;
}

/* Message form */
.form-details {
    margin: 30px;
    padding: 80px 30px;
    border: 1px solid lightgray;
}

.form-details form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-details form span {
    font-size: 15px;
}

.form-details form h2 {
    font-size: 25px;
    line-height: 35px;
    padding: 20px 0;
}

.form-details form input,
.form-details form textarea {
    width: 70%;
    padding: 10px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid lightgray;
}

.form-details form button {
    color: #fff;
    background: #000a47;
}

.form-details form button:hover {
    background: #5C53C6;
    color: #000a47;
}


/* Multi media support */
/* Sizing for tablets */
@media (max-width: 800px) {
    .page-header {
        height: 40vh;
        padding: 0 80px;
        background-position: 30%;
    }

    .form-details {
        padding: 50px 20px;
    }
}

/* Sizing for phone */
@media (max-width: 480px) {
    .page-header {
        padding: 0 10px;
        background-position: 55%;
    }

    .contact-details {
        flex-direction: column;
    }

    .contact-details .details {
        width: 100%;
        margin-bottom: 30px;
    }

    .contact-details .map {
        width: 100%;
    }

    .form-details {
        padding: 20px;
    }

    .form-details form input,
    .form-details form textarea {
        width: 100%;
    }
}
