@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Spartan", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
}

button.normal {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: black;
    background: white;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.4s;
}

button.chat {
    border: none;
    outline: none;
    cursor: pointer;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}


/* Pop-up chatbox */
.chatbox {
    margin: auto;
    text-align: center;
    padding: 0 1rem;
    z-index: 6;
    position: absolute;
}

.chatbox .chat-btn {
    position: fixed;
    bottom: 20px;
    right: 30px;
    background: #5C53C6;
    color: white;
    width: 53px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    transition: 0.2s;
}

.chatbox .chat-btn:hover {
    background: #000a47;
}

.chatbox .chat-popup {
    display: none;
    position: fixed;
    bottom: 50px;
    right: 90px;
    height: 400px;
    width: 330px;
    background: #eaeaea;
    /* display: flex; */
    flex-direction: column;
    justify-content: space-between;
    padding: 0.75rem;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

.chat-popup.active {
    display: flex;
}

.chatbox .chat-area {
    height: 80%;
    overflow-y: auto; /* in case the text is long and we need to scroll */
    overflow-x: hidden; /* to x axis scrolling */
}

.chatbox .income-msg {
    display: flex;
    align-items: center;
}

.chatbox .avatar {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
}

.chatbox .income-msg .msg {
    background: white;
    color: black;
    padding: 0.5rem;
    border-radius: 25px;
    margin-left: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

.chatbox .input-area {
    position: relative;
    display: flex;
    justify-content: center;
}

.chatbox .input-area .text-input {
    width: 100%;
    border: 1px solid #ccc;
    font-size: 1rem;
    border-radius: 5px;
    height: 2.2rem;
}

.chatbox .input-area .submit {
    padding: 0.25rem 0.5rem;
    margin-left: 0.5rem;
    background: #5C53C6;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    opacity: 0.7;
    transition: 0.2s;
}

.chatbox .input-area .submit:hover {
    opacity: 1;
}

.chatbox .output-msg {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.chatbox .user-msg {
    display: flex;
    justify-content: flex-end;
    margin: 0.75rem;
    padding: 0.5rem;
    background: #5C53C6;
    border-radius: 25px;
    margin-right: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    word-break: break-all; /* for showing long messages in the small chatbox */
}

/* HEADER */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #5C53C6;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.07);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

.navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    transition: 0.4s;
    opacity: 70%;
}

.navbar li a:hover,
.navbar li a.active {
    color: #fff;
    opacity: 100%;
}

.navbar li a.active::after,
.navbar li a:hover::after {
    content: "";
    width: 57%;
    height: 2px;
    background: #fff;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

.mobile {
    display: none;
    align-items: center;
}

#close {
    display: none;
}

/* Footer */
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: 1px solid  black;
    background: #e3e6f3;
}

footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .logo {
    margin-bottom: 30px;
}

footer h4 {
    font-size: 14px;
    padding-bottom: 20px;
}

footer p {
    font-size: 12px;
    margin: 0;
    margin-bottom: 8px;
}

footer a {
    font-size: 12px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
    transition: 0.2s;
}

footer a:hover {
    color: #5C53C6;
}

footer .col .icons {
    font-size: 20px;
    color: #1a1a1a;
    margin-bottom: 10px;
    margin-top: 3px;
}

footer .col .icons i {
    transition: 0.2s;
}

footer .col .icons i:hover {
    color: #5C53C6;
    cursor: pointer;
}

footer .copyright {
    width: 100%;
    text-align: center;
}

/* Intro of course */
.banner1{
    height: 400px;
    background-color: #e4e6f3;
}

.intro-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 70px;
    padding-right: 70px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.intro h1{
    font-size: 37px;
    font-weight: 510;
    margin-bottom: 20px;
    line-height: 50px;
}

.btn-desc button{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: white;
    background:#5C53C6;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.4s;
    text-transform: uppercase;
    margin-top: 25px;
}

.btn-desc button:hover{
    background-color: #513F85;
    color: white;
}

/* Course card */
.box-course-detail{
    background-color: white;
}

.card-course{
    background-color: white;
    height: 800px;
    position: absolute;
    top: 158px;
    right: 70px;
    width: 530px;
    text-align: center;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,.19);
}

.card-course img{
    height: 298px;
    width: 100%;
}

.item-box{
    margin-left: 30px;
    margin-right: 30px;
    display: grid;
    padding-bottom: 15px;
    padding-top: 15px;
    grid-template-columns: 1fr 1fr;
    border-bottom: solid 1px;
}

.label-box{
    display: flex;
    
}

.label-box p{
    margin: 5px 0px 0px 5px;
    padding: 10px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
}

.subj-detail,
.dura-detail,
.time-commit-detail,
.language-detail,
.fee-detail{
    margin: 5px 0px 0px 0px;
    padding: 10px;
}

.subj-detail p,
.dura-detail p,
.time-commit-detail p,
.language-detail p,
.fee-detail p{
    text-align: left;
}

box-icon{
    margin-top: 10px;
}

.card-course button{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: white;
    background:#5C53C6;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.4s;
    width: 150px;
    margin-top: 40px;
}

.card-course button:hover{
    background-color: #513F85;
    color: white;
}

/* Group-description-course */
.desc-course-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 40px 70px 0px 70px;
}

.desc-course h2{
    margin-bottom: 20px;
}

.desc-course-up{
    height: auto;
    margin-bottom: 60px;
}

.intro,
.desc-course-up,
.desc-course-down{
    line-height: 25px;
}

/* Featured courses */
.feat-course-group{
    margin-bottom: 60px;
}

.feat-course-group h2{
    margin: 0 0 20px 70px;
}
.course-box{
    box-shadow: 0 2px 6px 0 rgba(0,0,0,.19);
    position: relative;
    height: 400px;
    width: 300px;
    margin-top: 10px;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 35px;
}

.course-box img{
    margin-bottom: 20px;
    height: 180px;
    width: 100%;
    
}

.desc{
    margin: 10px 15px 0px 15px;
}

.desc h1{
    margin-bottom: 10px;
    color: #1a1a1a;
}

.desc h1:hover{
    text-decoration: underline;
    color: #1a1a1a;
}

.desc-box{
    display: flex;
    position: absolute;
    bottom: 20px;
}

.desc-right{
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.desc-left span{
    font-weight: 550;
}

.course-box .course-type{
    display: flex;
    margin-left: 15px;
}

.desc a{
    text-decoration: none;
    color: #5C53C6;
}

.desc a:hover{
    text-decoration: underline;
}

.desc h1{
    font-weight: 600;
}

.slick-arrow{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #5C53C6;
    color: white;
    border: none;
    width: 30px;
    height: 30px;
    font-size: 20px;
    z-index: 5;
    transition: 0.4s;
}

.slick-arrow:hover{
    background-color: #b8b3f0;
    color: #5C53C6;
}

.slick-prev{
    left: 0;
}

.slick-next{
    right: 0;
}

.slick-slider{
    margin: 0 60px 0 60px;
}

.slick-dots{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    gap: 20px;
    list-style: none;
}

.slick-dots button{
    font-size: 0;
    width: 10px;
    height: 10px;
    border-radius: 50px;
    background-color: #aaa;
    border: none;
    transition: 0.4s;
}

.slick-slider .slick-active button{
    background-color: #5C53C6;
}

/* instructor-group */
.ins-group{
    margin: 70px 70px 50px 70px;
    text-align: center;
}

.ins-group .border{
    width: 160px;
    height: 5px;
    background: #5C53C6;
    margin: 26px auto;
}

.ins-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 

}

.ins-card{
    background: #fdfdfd;
    width: 300px;
    height: 400px;
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
    border: solid 1px;
    margin: 10px 10px 20px 10px;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,.19);
}

.intro-ins{
    line-height: 1.5;
}

.ins-card p{
    margin: 10px 0 10px;

}

.ins-card img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: center; /* anh luc nao cung can giua */
}

.card_img{
    width: 120px;
    height: 120px;
    border: 4px solid #5C53C6;
    border-radius: 50%;
    overflow: hidden;
    margin: 25px auto ;
    margin-bottom: 10px;
    transition: 0.5s;
}

.social{
    margin: 20px;
}

.social a{
    color: #5C53C6;
    font-size: 25px;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
}

.social a:hover{
    font-size: 30px;
}

/* banner2 */
.banner2{
    background-color: #5C53C6;
    height: 200px;
    margin-bottom: 60px;
    text-align: center;
}

.banner2 h1{
    padding-top: 50px;
    font-size: 35px;
    color: white;
}
.banner2 button{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: black;
    background:white;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.4s;
    text-transform: uppercase;
    margin-top: 25px;
}

.banner2 button:hover{
    background-color: #513F85;
    color: white;
}


@media (max-width: 1200px) {
    .desc-course{
        margin-right: 70px;
    }
    .intro{
        margin-right: 70px;
    }
}

@media (max-width: 1025px) {
    .banner1{
        position: relative;
    }

    .card-course{ 
        position: absolute;
        transform: translate(-50%, 280px);
        left: 50%;
    }

    .intro-container{
        display: block;
    }

    .desc-course-container{
        display: block;
        margin-right: 70px;
        margin-top: 900px;
    }

    .intro{
        margin-right: 0px;
    }
}

/* Multi media support */
/* Sizing for tablets */
@media (max-width: 940px) {
    .section-p1 {
        padding: 40px 40px;
    }

    .navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background: #e3e6f3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 0;
        padding-top: 80px;
        padding-left: 10px;
        transition: 0.4s;
    }
    
    #navbar.active {
        right: 0;
    }

    .navbar li {
        margin-bottom: 25px;
    }

    .navbar li a {
        color: #1a1a1a;
    }

    .navbar li a:hover,
    .navbar li a.active {
        color: #5C53C6;
    }

    .navbar li a.active::after,
    .navbar li a:hover::after {
        content: "";
        width: 57%;
        height: 2px;
        background: #5C53C6;
        position: absolute;
        bottom: -4px;
        left: 20px;
    }

    .mobile {
        display: flex;
        align-items: center;
    }

    .mobile i {
        color: #1a1a1a;
        padding-left: 20px;
        font-weight: 600;
        cursor: pointer;
        transition: 0.4s;
        font-size: 2em;
        padding-bottom: 5px;
    }

    .mobile a i {
        font-size: 1.25em;
        padding-left: 15px;
    }

    .mobile a,
    .mobile i,
    .mobile .login-but {
        color: #e3e6f3;
        opacity: 90%;
    }

    .mobile i:hover,
    .mobile a:hover,
    .mobile .login-but:hover {
        color: #e3e6f3;
        opacity: 100%;
    }

    .mobile a {
        text-decoration: none;
        color: #1a1a1a;
        font-size: 22px;
        font-weight: 600;
        transition: 0.4s;
    }
    
    #close {
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 24px;
        text-decoration: none;
        transition: 0.4s;
    }

    #close:hover {
        color: #5C53C6;
        cursor: pointer;
    }

    #lg-cart {
        display: none;
    }
}

@media (max-width: 875px) {
    .intro-container{
        padding-left: 30px;
        padding-right: 30px;
    }

    .desc-course-container{
        margin-left: 30px;
        margin-right: 30px;
    }

    .desc-course{
        margin-right: 0;
    }
}

@media (max-width: 630px) {
    .card-course{
        max-width: 85vw;
        height: 1050px;
    }

    .card-course img{
        max-width: 100%;
        height: auto;
    }

    .item-box{
        display: block;
    }

    .desc-course-container{
        margin-top: 1150px;
    }

    .slick-slider{
        margin: 0 20px 0 20px;
    }

    .feat-course-group h2{
        margin-left: 35px;
    }
}

/* Sizing for phone */
@media (max-width: 500px) {
    .section-p1 {
        padding: 20px;
    }

    .header {
        padding: 10px 30px;
    }

    h1 {
        font-size: 38px;
    }

    h2 {
        font-size: 32px;
    }

    .chatbox .chat-popup {
        bottom: 70px;
        right: 19%;
        width: 75vw; /* 80% of view width */
        height: 120vw;
    }
}
