/* Featured courses */
.feat-course{
    margin-bottom: 60px;
}

.feat-course .course-intro {
    text-align: center;
}

.feat-course h2{
    margin: 0 0 20px 70px;
}
.course-box{
    box-shadow: 0 2px 6px 0 rgba(0,0,0,.19);
    position: relative;
    height: 410px;
    width: 300px;
    margin-top: 10px;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 60px;
}

.course-box img{
    margin-bottom: 20px;
    height: 180px;
    width: 100%;
}

.course-type {
    margin: 0;
    padding: 0;
}

.course-type p {
    margin: 12px;
}

.desc{
    margin-left: 15px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

.desc h1{
    font-size: 30px;
    padding: 0;
}

.desc p {
    margin-top: 0;
    margin-bottom: 30px;
    margin-right: 5px;
}

.desc-left{
    position: absolute;
    left: 20px;
    bottom: 0px;
}

.desc-left span {
    font-weight: 550;
}

.desc-right{
    position: absolute;
    right: 20px;
    bottom: 0px;
}

.desc-right p {
    text-underline-offset: 5px;
}

.desc a{
    text-decoration: none;
    color: #5C53C6;
}

.desc a:hover{
    text-decoration:underline;
    color: black;
}

.course-box .course-type{
    display: flex;
    margin-left: 15px;
}

.all-courses {
    text-align: center;
    margin-top: 50px;
}

.all-courses a {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: white;
    background: #5c53c6dd;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    transition: 0.4s;
    text-decoration: none;
    padding: 15px 45px;
}

.all-courses a:hover {
    color: white;
    background: #5C53C6;
}

.slick-arrow{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #5C53C6;
    color: white;
    border: none;
    width: 30px;
    height: 30px;
    font-size: 20px;
    z-index: 5;
    transition: 0.4s;
}

.slick-arrow:hover{
    background-color: #b8b3f0;
    color: #5C53C6;
}

.slick-prev{
    left: 0;
}

.slick-next{
    right: 0;
}

.slick-slider{
    margin: 0 60px 0 60px;
}

.slick-dots{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    gap: 20px;
    list-style: none;
}

.slick-dots button{
    font-size: 0;
    width: 10px;
    height: 10px;
    border-radius: 50px;
    background-color: #aaa;
    border: none;
    transition: 0.4s;
}

.slick-slider .slick-active button{
    background-color: #5C53C6;
}
