/* Fade animation */
.fade {
    animation-name: fade;
    animation-duration: 0.2s;
}

@keyframes fade {
    0% {opacity: 1;}
    25% {opacity: 0.9;}
    50% {opacity: 0.8;}
    75% {opacity: 0.9;}
    100% {opacity: 1;}
}


/* HOME PAGE */
/* Banner container */
.banner-container {
    height: 90vh;
    width: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.banner-container .b1 {
    background-image: url("../images/banner.png");
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    position: relative;
}

.banner-container .b2 {
    background-image: url("../images/banner.png");
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    position: relative;
}

.banner-container .b3 {
    background-image: url("../images/banner.png");
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    position: relative;
}

.banner-container .dots {
    position: absolute;
    bottom: 0;
    margin-bottom: 20px;
}

.banner-container .dot {
    height: 5px;
    width: 5px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: #088 0.6s ease;
}

.banner-container .banner h4 {
    text-align: center;
    padding-bottom: 15px;
    padding-top: 10rem;
}

.banner-container .banner h2 {
    text-align: center;
}

.banner-container .banner h1 {
    text-align: center;
    color: #5C53C6;
}

.banner-container .banner p {
    text-align: center;
}

.banner-container .banner button {
    font-weight: 600;
    padding: 15px 35px;
    border: 0;
    color: #fff;
    background: #000a47;
    font-size: 16px;
    cursor: pointer;
    transition: 0.4s;
    display: block;
    margin: 0 auto;
    margin-top: 50px;
}

.banner-container .banner button:hover {
    background: #fff;
    color: #000a47;
    transform: perspective(50px) translateZ(1px);
}

/* Feature box */
.feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.feature .fe-box {
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;
    transition: 0.4s;
}

.feature .fe-box:hover {
    box-shadow: 10px 10px 54px rgba(0, 0, 0, 0.1);
    transform: perspective(50px) translateZ(1px);
    cursor: pointer;
}

.feature .fe-box img {
    margin-bottom: 10px;
}

.feature .fe-box h6 {
    display: inline-block;
    padding: 6px 10px;
    color: #5C53C6;
}

/* FE-Box text color */
.feature .fe-box .free-shipping {
    background-color: #fddde4;
}

.feature .fe-box .fast-shipping {
    background-color: #cdebbc;
}

.feature .fe-box .save-money {
    background-color: #d1e8f2;
}

.feature .fe-box .promotions {
    background-color: #cdd4f8;
}

.feature .fe-box .online-order {
    background-color: #f6dbf6;
}

.feature .fe-box .support247 {
    background-color: #fff2e5;
}

/* Introduction video */
.intro-video {
    text-align: center;
}

.intro-video iframe {
    margin-top: 30px;
    border-radius: 20px;
    height: 78vh;
    width: 90%;
}

/* Featured Products */
.product1 {
    text-align: center;
}

.product1 .pro-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 20px;
}

.product1 .pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.5s;
}

.product1 .pro:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
    transform: perspective(50px) translateZ(2px);
}

.product1 .pro img {
    width: 100%;
    border-radius: 20px;
}

.product1 .pro .desc {
    text-align: start;
    padding: 10px 0;
}

.product1 .pro .desc span {
    color: #060663;
    font-size: 12px;
}

.product1 .pro .desc h5 {
    padding-top: 6px;
    color: #1a1a1a;
    font-size: 14px;
}

.product1 .pro .desc h4 {
    padding-top: 6px;
    font-size: 15px;
    font-weight: 700;
    color: #5C53C6;
}

.product1 .pro .add-cart {
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    color: #1a1a1a;
    background: #d1e8f2;
    padding: 4px 10px;
}

.product1 .pro .add-cart:hover {
    color: #5C53C6;
}

/* Banner2 */
.banner2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #5C53C6;
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
    text-align: center;
}

.banner2 h4 {
    color: white;
    font-size: 16px;
}

.banner2 h2 {
    color: white;
    font-size: 30px;
    padding: 10px;
}

.banner2 button:hover {
    background: #5C53C6;
    color: #fff;
}

/* Testimonials */
.testimonials {
    padding: 40px 0;
    background: #f1f1f1;
    color: #1a1a1a;
    text-align: center;
}

.testimonials .container {
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
}

.testimonials .container .border {
    width: 160px;
    height: 5px;
    background: #5C53C6;
    margin: 26px auto;
}

.testimonials .container .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.testimonials .container .row .col {
    flex: 33.33%;
    max-width: 33.33%;
    box-sizing: border-box;
    padding: 15px;
}

.testimonials .container .card {
    padding: 30px;
    border-radius: 20px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.01);
    transition: 0.4s;
}

.testimonials .container .card:hover {
    box-shadow: 10px 10px 54px rgba(0, 0, 0, 0.08);
    transform: perspective(50px) translateZ(1px);
}

.testimonials .container .c1 {
    background: #EFB495;
}

.testimonials .container .c2 {
    background: #EFD595;
}

.testimonials .container .c3 {
    background: #EBEF95;
}

.testimonials .container .card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.testimonials .container .card .name {
    font-size: 20px;
    text-transform: uppercase;
    margin: 20px 0;
}

.testimonials .container .card .stars {
    color: #5C53C6;
    margin-bottom: 20px;
}

/* Steps banner */
.steps-banner {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 40vh;
    background: #5C53C6;
    padding-top: 6rem;
}

.steps-banner .step {
    width: 10%;
    text-align: center;
    padding: 0;
    padding-bottom: 0;
    margin: 0 30px;
}

.steps-banner .step p {
    color: white;
    font-size: 12px;
}


/* Multi media support */
/* Sizing for tablets */
@media (max-width: 800px) {
    .banner1 {
        height: 70vh;
        padding: 0 80px;
        background-position: 30%;
    }

    .feature {
        justify-content: center;
    }

    .feature .fe-box {
        margin: 15px;
    }

    .product1 .pro-container {
        justify-content: center;
    }

    .product1 .pro {
        margin: 15px;
    }

    .testimonials .container .row .col {
        flex: 100%;
        max-width: 80%;
    }

    .intro-video iframe {
        width: 100%;
    }
}

/* Sizing for phone */
@media (max-width: 500px) {
    .banner1 {
        padding: 0 20px;
        background-position: 55%;
    }

    .feature {
        justify-content: space-around;
    }

    .feature .fe-box {
        width: 150px;
        margin: 15px;
    }

    .product1 .pro {
        width: 100%;
    }

    .banner2 {
        height: 40vh;
    }

    .testimonials .container .row .col {
        max-width: 100%;
    }

    .intro-video iframe {
        height: 300px;
    }

    .steps-banner {
        padding-top: 0.7rem;
        flex-direction: column;
        height: 90vh;
        align-items: center;
    }

    /* TODO: make font bigger */
    .steps-banner .step {
        width: 10%;
        text-align: center;
        padding: 0;
        padding-bottom: 0;
        margin: 0 30px;
    }
    
    .steps-banner .step p {
        font-size: 12px;
    }
}
