/* Add style này vào file css của page mình đang làm việc */
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Spartan", sans-serif;
}

html {
    scroll-behavior: smooth;
}


/* Global styles */
h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4 {
    font-size: 20px;
    color: #222;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

button.normal {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: black;
    background: white;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.4s;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}

/* Scroll to top button */
#topBtn {
    display: none;
    position: fixed;
    bottom: 80px;
    right: 30px;
    z-index: 100;
    border: none;
    outline: none;
    background: #5c53c6;
    color: white;
    cursor: pointer;
    padding: 15px 22px;
    border-radius: 50%;
    font-size: 20px;
    transition: 0.2s;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}

#topBtn:hover {
    background: #000a47;
}


/* HEADER */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #5c53c6;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

.navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    transition: 0.4s;
    opacity: 70%;
}

.navbar li a:hover,
.navbar li a.active {
    color: #fff;
    opacity: 100%;
}

.navbar li a.active::after,
.navbar li a:hover::after {
    content: "";
    width: 57%;
    height: 2px;
    background: #fff;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

.mobile {
    display: none;
    align-items: center;
}

#close {
    display: none;
}

/* Page header */
.page-banner {
    background: #020d54;
    width: 100%;
    height: 40vh;
    /*background-size: cover;*/
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}

.page-banner h2,
.page-banner p {
    color: #fff;
}
/* Multi media support */

/* Sizing for Ipad Pro */
@media (max-width: 1025px) {
    .wrapper {
        width: 600px;
        height: 900px;
    }

    .wrapper .form-box {
        transition: 0.2s;
        transform: scale(1.5);
    }
}
/* Sizing for tablets */
@media (max-width: 800px) {
    .section-p1 {
        padding: 40px 40px;
    }

    .navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background: #e3e6f3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 0;
        padding-top: 80px;
        padding-left: 10px;
        transition: 0.4s;
    }
    
    #navbar.active {
        right: 0;
    }

    .navbar li {
        margin-bottom: 25px;
    }

    .navbar li a {
        color: #1a1a1a;
    }

    .navbar li a:hover,
    .navbar li a.active {
        color: #5c53c6;
    }

    .navbar li a.active::after,
    .navbar li a:hover::after {
        content: "";
        width: 57%;
        height: 2px;
        background: #5c53c6;
        position: absolute;
        bottom: -4px;
        left: 20px;
    }

    .mobile {
        display: flex;
        align-items: center;
    }

    .mobile i {
        color: #1a1a1a;
        font-size: 18px;
        padding-left: 20px;
        font-weight: 600;
        cursor: pointer;
        transition: 0.4s;
        font-size: 2em;
        padding-bottom: 5px;
    }

    .mobile a i {
        font-size: 1.25em;
        padding-left: 15px;
    }

    .mobile a,
    .mobile i,
    .mobile .login-but {
    color: #e3e6f3;
    opacity: 90%;
    }

    .mobile a:hover,
    .mobile i:hover,
    .mobile .login-but:hover {
    color: #e3e6f3;
    opacity: 100%;
    }

    .mobile a {
        text-decoration: none;
        color: #1a1a1a;
        font-size: 22px;
        font-weight: 600;
        transition: 0.4s;
    }
    
    #close {
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 24px;
        text-decoration: none;
        transition: 0.4s;
    }

    #close:hover {
        color: #5c53c6;
        cursor: pointer;
    }

    #lg-cart {
        display: none;
    }

    .page-banner {
        height: 40vh;
        padding: 0 80px;
        background-position: 30%;
    }
}



/* Sizing for phone */
@media (max-width: 500px) {
    .section-p1 {
        padding: 20px;
    }

    .header {
        padding: 10px 30px;
    }

    h1 {
        font-size: 38px;
    }

    h2 {
        font-size: 32px;
    }

    .page-banner {
        padding: 0 10px;
        background-position: 55%;
    }

    .chatbox .chat-popup {
        bottom: 70px;
        right: 19%;
        width: 75vw; /* 80% of view width */
        height: 120vw;
    }

    .wrapper {
        box-shadow: 0 0 30px rgba(0, 0, 0, 0);
    }

}

html {
    position: relative;
    width: 100%;
    height: 100%;
}

.bg {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Đảm bảo hình ảnh vừa với kích thước của phần tử */
    opacity: 0.9;
    filter: brightness(80%);
}
/*Login Box*/
.wrapper{
    position: relative;
    width: 400px;
    height: 550px;
    background: transparent;
    border: 2px solid rgba(255,255,255,.5);
    border-radius: 20px;
    backdrop-filter: blur(25px);
    box-shadow: 0 0 15px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    overflow: hidden; 
    /* transform: scale(0); */
    transition: transform 0.5s, height 0.5s ease;

}

.wrapper.active-popup {
    transform: scale(1);
}

.wrapper.active {
    height: 520px;
}

.wrapper .form-box {
    width: 100%;
    padding: 40px;
}

.wrapper .form-box.register {
    position: absolute;
    transform: translateX(400px);
    transition: 0.5s ease;
}


.wrapper .form-box.login {
    transform: translateX(0);
    transition: 0.5s ease;
    
}

.wrapper.active1 {
    height: 300px;
}

.wrapper.active2 {
    height: 520px;
}

.wrapper.active2 .form-box.forgot {
    transform: translateX(-400px);
    transition: 0.5s ease;
}

.wrapper.active2 .form-box.register {
    transform: translateX(0);
    transition: 0.5s ease;
}

.wrapper.active2 .form-box.login {
    transform: translateX(400px);
    transition: none;
}

.wrapper .form-box.forgot {
    position: absolute;
    transform: translateX(-400px);
    transition: 0.5s ease;
}

.wrapper.active1 .form-box.forgot {
    position: absolute;
    transform: translateX(0);
    transition: 0.5s ease;
}

.wrapper.active1 .form-box.login {
    position: absolute;
    transform: translateX(400px);
    transition: 0.5s ease;
}

.wrapper.active .form-box.login {
    transform: translateX(-400px);
    transition: 0.5s ease;
}

.wrapper.active .form-box.register {
    transform: translateX(0);
    transition: 0.5s ease;
}

.wrapper .form-box.forgot .btn {
    margin-top: 165px;
}

.wrapper .form-box.forgot .confirm-pass {
    display: none;
}

.wrapper.find .form-box.forgot .confirm-pass {
    display: inline;
    animation: fadeInDown 0.25s ease;
}

@keyframes fadeInDown {
    from {
        transform: translateY(-30px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.wrapper.find {
    height: 480px;
}

.wrapper.find .form-box.forgot {
    transform: translateY(-90px);
}

.wrapper.find .forgot-register{
    display: none;
}

.wrapper.find .form-box.forgot .btn-find {
    position: static;
    transform: translateY(170px);
    display: inline;
}

.confirmemail{
    display: none;
}

.wrapper.btnFind .forgot-register{
    display: none;
}

.wrapper.clickregister{
    height: 400px;
}

.wrapper.clickregister .form-box.register h2{
    transform: translateY(-50px);
}

.wrapper.clickregister .confirmemail{
    display:inline;
}

.wrapper .confirmemail .notification p{
    color: #fff;
    display:inline;
}

/* ----------------------------------------------------------------------- */


.wrapper .form-box {
    width: 100%;
    padding: 40px;
}

.form-box h2 {
    font-size: 2em;
    text-align: center;
    color: #000a47;
}

.form-box p{
    color: #020d54;
}

.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #124569;
    margin: 30px 0;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #124569;
    font-weight: 500;
    pointer-events: none;
    transition: .1s;   
}

.input-box input:focus~label,
.input-box input:valid~label{
    visibility: hidden;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #124569;
    font-weight: 600;
    padding: 0 35px 0 5px;

}
.input-box .icon{
    position: absolute;
    right: 6px;
    font-size: 1.2em;
    color: #5c53c6;
    line-height: 57px;
}

.remember-forgot {
    font-size: .9em;
    color: #020d54;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input {
    accent-color: #020d54;
    margin-right: 3px;
}

.forgot-link, .forgot-register a, .login-link a {
    color: #020d54;
    text-decoration: none;
}

.forgot-link a:hover {
    text-decoration: underline;
}

.forgot-register a:hover {
    text-decoration: underline;
}

.login-link a:hover {
    text-decoration: underline;
}


.btn {
    width: 100%;
    height: 45px;
    background: #000a47;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    color: #fff;
}
.btn:hover {
    background: #5c53C6;
}

.register-link {
    color: #020d54;
    text-decoration: none;
}

.register-link:hover {
    text-decoration: underline;
}

.otherApp {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;

}

.otherApp img {
    width: 40px;
    border: 0px solid white;
    border-radius: 100%;    
}

.otherApp img:hover{
    border: 3px solid #5c53C6;

}

.btn-register, .btn-find {
    width: 100%;
    height: 45px;
    background: #000a47;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    color: #fff;
}

.btn-register:hover {
    background: #5c53c6;
}

.btn-find:hover {
    background: #5c53C6;
}



