@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Spartan", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
}

.section-p1 {
    padding: 40px 80px;
}

/* Pop-up chatbox */
.chatbox {
    margin: auto;
    text-align: center;
    padding: 0 1rem;
    z-index: 6;
    position: absolute;
}

.chatbox .chat-btn {
    position: fixed;
    bottom: 20px;
    right: 30px;
    background: #5C53C6;
    color: white;
    width: 53px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    transition: 0.2s;
}

.chatbox .chat-btn:hover {
    background: #000a47;
}

.chatbox .chat-popup {
    display: none;
    position: fixed;
    bottom: 50px;
    right: 90px;
    height: 400px;
    width: 330px;
    background: #eaeaea;
    /* display: flex; */
    flex-direction: column;
    justify-content: space-between;
    padding: 0.75rem;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

.chat-popup.active {
    display: flex;
}

.chatbox .chat-area {
    height: 80%;
    overflow-y: auto; /* in case the text is long and we need to scroll */
    overflow-x: hidden; /* to x axis scrolling */
}

.chatbox .income-msg {
    display: flex;
    align-items: center;
}

.chatbox .avatar {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
}

.chatbox .income-msg .msg {
    background: white;
    color: black;
    padding: 0.5rem;
    border-radius: 25px;
    margin-left: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

.chatbox .input-area {
    position: relative;
    display: flex;
    justify-content: center;
}

.chatbox .input-area .text-input {
    width: 100%;
    border: 1px solid #ccc;
    font-size: 1rem;
    border-radius: 5px;
    height: 2.2rem;
}

.chatbox .input-area .submit {
    padding: 0.25rem 0.5rem;
    margin-left: 0.5rem;
    background: #5C53C6;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    opacity: 0.7;
    transition: 0.2s;
}

.chatbox .input-area .submit:hover {
    opacity: 1;
}

.chatbox .output-msg {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.chatbox .user-msg {
    display: flex;
    justify-content: flex-end;
    margin: 0.75rem;
    padding: 0.5rem;
    background: #5C53C6;
    border-radius: 25px;
    margin-right: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    word-break: break-all; /* for showing long messages in the small chatbox */
}

/* HEADER */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #5C53C6;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar li {
list-style: none;
    padding: 0 20px;
    position: relative;
}

.navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    transition: 0.4s;
    opacity: 70%;
}

.navbar li a:hover,
.navbar li a.active {
    color: #fff;
    opacity: 100%;
}

.navbar li a.active::after,
.navbar li a:hover::after {
    content: "";
    width: 57%;
    height: 2px;
    background: #fff;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

.mobile {
    display: none;
    align-items: center;
}

#close {
    display: none;
}

.banner1{
    background-image: url("../images/banner.png");
    height: 60vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

/* Search-box */
.search-box{
    margin: 20px;
}

.search-box input{
    height: 29px;
    border-radius: 50px;
}

input::placeholder{
    text-indent: 10px;
}




/* Courses */
/* .course-box{
    width: 340px;
    height: 560px;
    margin: 20px;
    background-color: antiquewhite;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,.19);
}

.course-box img{
    height: 238px;
    margin-bottom: 10px;
    margin-top: 0px;

}

.course-box .course-type{
    display: flex;
    margin-left: 15px;
}

.desc{
    margin-left: 15px;
    width: 320px;
}

.desc h1{
    margin: 15px 0 15px 0;
}

.desc-box{
    display: flex;
    margin-top: 60px;
}

.desc-left{
    margin-right: 150px;
} */
.course-box{
    box-shadow: 0 2px 6px 0 rgba(0,0,0,.19);
}
.course-box img{
    margin-bottom: 20px;
}
.desc{
    margin-left: 15px;
    margin-right: 15px;
}

/* .desc h1{
    margin: 15px 15px 15px 0;
} */
.desc-left{
    /* margin-right: 90px; */
    float: right;
    width: 80%;
}
.desc-box{
    display: flex;
    margin-top: 60px;
}

.course-box .course-type{
    display: flex;
    flex-wrap: wrap;
    margin-left: 15px;
}

/* Footer */
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: 1px solid  black;
    background: #e3e6f3;
}

footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .logo {
    margin-bottom: 30px;
}

footer h4 {
    font-size: 14px;
    padding-bottom: 20px;
}

footer p {
    font-size: 12px;
    margin: 0;
    margin-bottom: 8px;
}

footer a {
    font-size: 12px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}

footer a:hover {
    color: #5C53C6;
}

footer .copyright {
    width: 100%;
    text-align: center;
}

.main-new{
    padding: 0px 60px 30px 60px;
}
.content1{
    display: flex;
    
    margin-top: 20px;
}
.content1 img{
    width: 250px;
    margin-right: 20px;
}
.content1 .content-right p{
    line-height: 1.4;
}

.content-right button{
    width: 100px;
    height: 25px;
    margin-top: 10px;
    border: none;
    font-size: 15px;
}

.content-right button:hover{
    background-color: #5C53C6;
    color: #fff;
    transition: 0.1s;
}

/* Multi media support */
/* Sizing for tablets */
@media (max-width: 950px) {
    .section-p1 {
        padding: 40px 40px;
    }


    .navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
height: 100vh;
        width: 300px;
        background: #e3e6f3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 0;
        padding-top: 80px;
        padding-left: 10px;
        transition: 0.4s;
    }
    
    #navbar.active {
        right: 0;
    }

    .navbar li a {
        color: #1a1a1a;
    }

    .navbar li {
        margin-bottom: 25px;
    }

    .navbar li a:hover,
    .navbar li a.active {
        color: #5C53C6;
    }

    .navbar li a.active::after,
    .navbar li a:hover::after {
        content: "";
        width: 57%;
        height: 2px;
        background: #5C53C6;
        position: absolute;
        bottom: -4px;
        left: 20px;
    }

    .mobile {
        display: flex;
        align-items: center;
    }

    .mobile i {
        color: #1a1a1a;
        font-size: 18px;
        padding-left: 20px;
        font-weight: 600;
        cursor: pointer;
        transition: 0.4s;
        font-size: 2em;
        padding-bottom: 5px;
    }

    .mobile a i {
        font-size: 1.25em;
        padding-left: 15px;
    }

    .mobile a,
    .mobile i,
    .mobile .login-but {
    color: #e3e6f3;
    opacity: 90%;
}
    .mobile a:hover,
    .mobile i:hover,
    .mobile .login-but:hover {
    color: #e3e6f3;
    opacity: 100%;
    }

    .mobile a {
        text-decoration: none;
        color: #1a1a1a;
        font-size: 22px;
        font-weight: 600;
        transition: 0.4s;
    }
    
   #close {
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 24px;
        text-decoration: none;
        transition: 0.4s;
    }

    #close:hover {
        color: #5C53C6;
        cursor: pointer;
    }

    #lg-cart {
        display: none;
    }

    .banner1 {
        height: 70vh;
        padding: 0 80px;
        background-position: 30%;
    }

}

/* Sizing for phone */
@media (max-width: 500px) {
    .section-p1 {
        padding: 20px;
    }

    .header {
        padding: 10px 30px;
    }

    .banner1 {
        padding: 0 20px;
        background-position: 55%;
    }

    .chatbox .chat-popup {
        bottom: 70px;
        right: 19%;
        width: 75vw; /* 80% of view width */
        height: 120vw;
    }

    .wrapper {
        width: 100%;
        height: 1000px;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 150px 150px 150px 150px 150px 150px; /* Sử dụng chiều cao tự động cho các hàng */
        row-gap: 5px;
        justify-content: center;
        position: relative;
        margin: 0 auto;
        margin-top: 60px;
        margin-bottom: 60px;
        justify-content: center;
        align-items: center;
    }

    .wrapper .news1 {
        width: 100%;
        height: 100%;
        margin:5px auto;
        border: 2px solid hsl(0, 0%, 0%);
        border-radius: 20px;
        grid-row: auto; /* Đặt lại thuộc tính grid-row để các news hiển thị theo hàng */
        grid-column: 1/4; /* Đặt lại thuộc tính grid-column để các news hiển thị theo hàng */
        margin-bottom: 10px; /* Thêm khoảng cách giữa các news */
    }
    

    .wrapper .news2 {
        width: 100%;
        height: 100%;
        margin:0 auto;
        border: 2px solid #000000;
        border-radius: 20px;
        grid-row: auto; /* Đặt lại thuộc tính grid-row để các news hiển thị theo hàng */
        grid-column: 1/4; /* Đặt lại thuộc tính grid-column để các news hiển thị theo hàng */
        margin-bottom: 10px; /* Thêm khoảng cách giữa các news */
    }
    
    

    .wrapper .news3 {
        width: 100%;
        height: 100%;
        margin:0 auto;
        border: 2px solid #000000;
        border-radius: 20px;
        grid-row: auto; /* Đặt lại thuộc tính grid-row để các news hiển thị theo hàng */
        grid-column: 1/4; /* Đặt lại thuộc tính grid-column để các news hiển thị theo hàng */
        margin-bottom: 10px; /* Thêm khoảng cách giữa các news */
    }
    

    .wrapper .news4 {
        width: 100%;
        height: 100%;
        margin:0 auto;
        border: 2px solid #000000;
        border-radius: 20px;
        grid-row: auto; /* Đặt lại thuộc tính grid-row để các news hiển thị theo hàng */
        grid-column: 1/4;/* Đặt lại thuộc tính grid-column để các news hiển thị theo hàng */
        margin-bottom: 10px; /* Thêm khoảng cách giữa các news */
    }
    
    

    .wrapper .news5 {
        width: 100%;
        height: 100%;
        margin:0 auto;
        border: 2px solid #000000;
        border-radius: 20px;
        grid-row: auto; /* Đặt lại thuộc tính grid-row để các news hiển thị theo hàng */
        grid-column: 1/4; /* Đặt lại thuộc tính grid-column để các news hiển thị theo hàng */
        margin-bottom: 10px; /* Thêm khoảng cách giữa các news */
    }
    
    
    .wrapper .news6 {
        width: 100%;
        height: 100%;
        margin:0 auto;
        border: 2px solid #000a47;
        border-radius: 20px;
        grid-row: auto; /* Đặt lại thuộc tính grid-row để các news hiển thị theo hàng */
        grid-column: 1/4; /* Đặt lại thuộc tính grid-column để các news hiển thị theo hàng */
        margin-bottom: 10px; /* Thêm khoảng cách giữa các news */
    }
    
    .wrapper h2,
    .wrapper p {
        color: white; /* Màu chữ */
        
    }

    .wrapper a {
        text-decoration: none;
        color: white; /* Màu chữ */

    }
    .chatbox .chat-popup {
        bottom: 70px;
        right: 19%;
        width: 75vw; /* 80% of view width */
        height: 120vw;
    }

} 
/* mobile */

@media (max-width: 440px) {
    .main-new{
        padding-left: 15px;
        padding-right: 15px;
        
    }

    .content-left img {
        width: 150px;     
    }
    .content1 .content-right button {
        margin-top: 10px; 
        width: 100px;        
    }
}


.wrapper {
    width: 100%;
    height: 970px;
    display: grid;
    grid-template-columns:  30% 30% 30%;
    grid-template-rows: 150px 150px 150px 150px 150px 150px ;
    column-gap: 10px;
    row-gap: 10px;
    /* border: 2px solid black; */
    position: relative;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 60px;
    justify-content: center;
    align-items: center;
}


.wrapper h2, .wrapper p {
    color: white; /* Màu chữ */
    
}

.wrapper a {
    text-decoration: none;
    color: white; /* Màu chữ */

  }

  .wrapper .text {
    position: absolute;
    bottom: 0;
    margin-left: 20px;
    margin-bottom: 20px;
}
.wrapper img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    
}

.blur{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 20px;
}


.news1 {
    width: 100%;
    height: 100%;
    margin:5px auto;
    border-radius: 20px;
    grid-row: 1 / 4;
    grid-column: 1 /3;
    position: relative;
}

.shadow :hover {
    transition: 0.2s;
    transform: scale(1.02);
    background-color: rgba(0, 0, 0, 0);
}

.news2 {
    width: 100%;
    height: 100%;
    margin:0 auto;
    border-radius: 20px;
    grid-row: 1/3;
    position: relative;
}

.news3 {
    width: 100%;
    height: 100%;
    margin:0 auto;
    border-radius: 20px;
    grid-row: 3/5;
    position: relative;
}

.news4 {
    width: 100%;
    height: 100%;
    margin:0 auto;
    border-radius: 20px;
    grid-row: 4/7;
    position: relative;

}

.news5 {
    width: 100%;
    height: 100%;
    margin:0 auto;
    border-radius: 20px;
    grid-row: 4/7;
    position: relative;
}

.news6 {
    width: 100%;
    height: 100%;
    margin:0 auto;
    border-radius: 20px;
    grid-row: 5/7;
    position: relative;
}

/* Featured courses */
.feat-course{
    margin-bottom: 100px;
}

.feat-course-group {
    margin-bottom: 60px;
}
.feat-course-group h2 {
    margin-left: 80px;
    margin-bottom: 20px;
}

.feat-course .course-intro {
    text-align: center;
}

.feat-course h2{
    margin: 0 0 20px 70px;
}
.course-box{
    box-shadow: 0 2px 6px 0 rgba(0,0,0,.19);
    position: relative;
    height: 410px;
    width: 300px;
    margin-top: 10px;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 60px;
}

.course-box img{
    margin-bottom: 20px;
    height: 180px;
    width: 100%;
}

.course-type {
    margin: 0;
    padding: 0;
}

.course-type p {
    margin: 12px;
}

.desc{
    margin-left: 15px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

.desc h1{
    font-size: 20px;
    padding: 0;
}

.desc p {
    margin-top: 0;
    margin-bottom: 30px;
}

.desc-left{
    position: absolute;
    left: 20px;
    bottom: -20px;
}

.desc-left span {
    font-weight: 550;
}

.desc-right{
    position: absolute;
    right: 20px;
    bottom: 10px;
}

.desc-right p {
    text-underline-offset: 5px;
}

.desc a{
    text-decoration: none;
    color: #5C53C6;
}

.desc a:hover{
    text-decoration:underline;
    color: black;
}

.course-box .course-type{
    display: flex;
    margin-left: 15px;
}

.all-courses {
    text-align: center;
    margin-top: 50px;
}

.all-courses a {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: white;
    background: #5c53c6dd;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    transition: 0.4s;
    text-decoration: none;
    padding: 15px 45px;
}

.all-courses a:hover {
    color: white;
    background: #5C53C6;
}

.slick-arrow{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #5C53C6;
    color: white;
    border: none;
    width: 30px;
    height: 30px;
    font-size: 20px;
    z-index: 5;
    transition: 0.4s;
}

.slick-arrow:hover{
    background-color: #b8b3f0;
    color: #5C53C6;
}

.slick-prev{
    left: 0;
}

.slick-next{
    right: 0;
}

.slick-slider{
    margin: 0 60px 0 60px;
}

.slick-dots{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    gap: 20px;
    list-style: none;
}

.slick-dots button{
    font-size: 0;
    width: 10px;
    height: 10px;
    border-radius: 50px;
    background-color: #aaa;
    border: none;
    transition: 0.4s;
}

.slick-slider .slick-active button{
    background-color: #5C53C6;
}


/* Linked-page */
.linked-pages{
    text-align: center;
    display: flex;
    margin-top: 30px;
    margin-bottom: 60px;
    justify-content: center;
}
.linked-pages li{
    list-style: none;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background-color:#FFF5E1;
    padding-top: 10px;
    margin-left: 5px;
}
.linked-pages a{
    text-decoration: none;
    padding-top: 10px;
    color: #1a1a1a;
    font-size: 17px;
}

.linked-pages li:hover a,
.linked-pages li a.active 
{
    color: white;
    transition: 0.3s;
}

.linked-pages li:hover,
.linked-pages li.active{
    background-color: #5C53C6;
    transition: 0.5s;
}