/* Fade animation */
.fade {
    animation-name: fade;
    animation-duration: 0.8s;
}

@keyframes fade {
    0% {
        opacity: 0.8;
    }
    100% {
        opacity: 1;
    }
}

/* Product page */
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3em 5em;
}

.pd-cont {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 2em 0;
}

.pd-cont .left-cont {
    width: 45%;
    height: 100%;
}

.pd-cont .left-cont .main-img {
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    margin: 0 0 1em 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pd-cont .left-cont .main-img img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
}

.pd-cont .left-cont .main-img img:hover {
    transform: scale(1.05);
}

.pd-cont .left-cont .open-cont {
    display: none;
    position: fixed;
    align-items: center;
    justify-content: center;
    z-index: 1;
    padding: 2em 0 0 0;
    left: 0;
    top: 10%;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
}

.pd-cont .left-cont .open-cont .open-img {
    margin: auto;
    display: block;
    max-height: 60vh;
}

.pd-cont .left-cont .open-cont .caption {
    margin: auto;
    display: block;
    width: 100%;
    max-width: 60vh;
    text-align: center;
    color: #ccc;
    padding: 0.5em 1em;
    height: 8em;
}

.pd-cont .left-cont .open-cont .open-img,
.pd-cont .left-cont .open-cont .caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

.pd-cont .left-cont .open-cont .close {
    position: absolute;
    top: 1em;
    right: 1.5em;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.2s;
}

.pd-cont .left-cont .open-cont .close:hover,
.pd-cont .left-cont .open-cont .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.pd-cont .left-cont .sub-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pd-cont .left-cont .sub-cont .sub-img {
    width: 23%;
    height: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    margin: 0 0 1em 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pd-cont .left-cont .sub-cont .sub-img img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
}

.pd-cont .left-cont .sub-cont .sub-img img:hover {
    transform: scale(1.1);
}

.pd-cont .right-cont {
    width: 45%;
    height: 100%;
}

.pd-cont .right-cont .page-address {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 1em;
}

.pd-cont .right-cont .page-address a {
    text-decoration: none;
    color: #5C53C6;
    transition: 0.2s;
    font-weight: bold;
}

.pd-cont .right-cont .page-address a:hover {
    color: #088178;
    transform: scale(1.1);
}

.pd-cont .right-cont .page-address span {
    margin: 0 0.5em;
    font-weight: bold;
}

.pd-cont .right-cont .pd-name {
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 1em;
}

.pd-cont .right-cont .pd-price {
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 1em;
}

.pd-cont .right-cont .pd-qty {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}

.pd-cont .right-cont .pd-qty label {
    font-size: 1em;
    font-weight: 600;
    margin-right: 1em;
}

.pd-cont .right-cont .pd-qty input {
    font-size: 1em;
    font-weight: 600;
    padding: 0.5em 1em;
    border: 1px solid #5C53C6;
    border-radius: 5px;
    transition: 0.2s;
    text-align: center;
}

.pd-cont .right-cont .pd-qty input:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.pd-cont .right-cont .pd-desc {
    font-size: 1em;
    font-weight: 600;
    margin-bottom: 2em;
    line-height: 1.3em;
}

.pd-cont .right-cont .pd-btn {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}

.pd-cont .right-cont .pd-btn a {
    text-decoration: none;
    color: #fff;
}

.pd-cont .right-cont .pd-btn .add-cart {
    width: 50%;
    text-align: center;
    font-size: 1em;
    font-weight: 600;
    padding: 0.5em 1em;
    background: #5C53C6;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
}

.pd-cont .right-cont .pd-btn .add-cart:hover {
    background: #088178;
}

.fpd {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2.5em 5em;
}

.fpd .fpd-title {
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 1em;
}

.fpd .fpd-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
}

.fpd .fpd-list .fpd-cont {
    width: 23%;
    max-width: 23%;
    padding: 0.8em;
    border: 1px solid #5C53C6;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 1em 1em 2em rgba(0, 0, 0, 0.02);
    margin: 1em 0;
    transition: 0.5s;
}

.fpd .fpd-list .fpd-cont:hover {
    box-shadow: 1em 1em 2em rgba(0, 0, 0, 0.02);
    transform: perspective(3em) translateZ(2px);
}

.fpd .fpd-list .fpd-cont .fpd-img {
    width: 100%;
    margin-bottom: 1em;
}

.fpd .fpd-list .fpd-cont .fpd-img img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.fpd .fpd-list .fpd-cont .fpd-name {
    font-size: 1em;
    font-weight: 600;
    margin-bottom: 0.5em;
}

.fpd .fpd-list .fpd-cont .fpd-price {
    font-size: 1em;
    font-weight: 600;
    margin-bottom: 0.5em;
}

.fpd .fpd-list .fpd-cont .fpd-btn {
    display: flex;
    align-items: center;
}

.fpd .fpd-list .fpd-cont .fpd-btn a {
    text-decoration: none;
    color: #fff;
}

.fpd .fpd-list .fpd-cont .fpd-btn .add-cart {
    width: 100%;
    text-align: center;
    font-size: 1em;
    font-weight: 600;
    padding: 0.5em 1em;
    background: #5C53C6;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
}

.fpd .fpd-list .fpd-cont .fpd-btn .add-cart:hover {
    background: #088178;
}

/* Responsive */
@media screen and (max-width: 1200px) {
    .main {
        padding: 3em 2em;
    }
}

@media screen and (max-width: 900px) {
    .main {
        padding: 3em 1em;
    }
    
    .pd-cont {
        flex-direction: column;
        margin-bottom: 1em;
    }
    
    .pd-cont .left-cont {
        width: 100%;
        margin-bottom: 2em;
    }
    
    .pd-cont .right-cont {
        width: 100%;
        margin-bottom: 0;
    }
    
    .fpd {
        padding: 3em 1em;
        margin: 0;
    }

    .fpd .fpd-list .fpd-cont {
        width: 48%;
        max-width: 48%;
    }
}

@media screen and (max-width: 600px) {
    .fpd .fpd-list .fpd-cont:nth-child(3),
    .fpd .fpd-list .fpd-cont:nth-child(4) {
        display: none;
    }
}