@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Spartan", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
}

/* Global styles */
h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4 {
    font-size: 20px;
    color: #222;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

/* Default button styling */
button.normal {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: black;
    background: white;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    transition: 0.4s;
}

/* chat button styling */
button.chat {
    border: none;
    outline: none;
    cursor: pointer;
}

/* Padding template */
.section-p1 {
    padding: 40px 80px;
}

/* Margin template */
.section-m1 {
    margin: 40px 0;
}

/* Scroll to top button */
#topBtn {
    display: none;
    position: fixed;
    bottom: 80px;
    right: 30px;
    z-index: 100;
    border: none;
    outline: none;
    background: #5C53C6;
    color: white;
    cursor: pointer;
    padding: 15px 22px;
    border-radius: 50%;
    font-size: 20px;
    transition: 0.2s;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}

#topBtn:hover {
    background: #000a47;
}

/* Pop-up chatbox */
.chatbox {
    margin: auto;
    text-align: center;
    padding: 0 1rem;
}

.chatbox .chat-btn {
    position: fixed;
    bottom: 20px;
    right: 30px;
    background: #5C53C6;
    color: white;
    width: 53px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    transition: 0.2s;
}

.chatbox .chat-btn:hover {
    background: #000a47;
}

.chatbox .chat-popup {
    display: none;
    position: fixed;
    bottom: 50px;
    right: 90px;
    height: 400px;
    width: 330px;
    background: #eaeaea;
    /* display: flex; */
    flex-direction: column;
    justify-content: space-between;
    padding: 0.75rem;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

.chat-popup.active {
    display: flex;
}

.chatbox .chat-area {
    height: 80%;
    overflow-y: auto; /* in case the text is long and we need to scroll */
    overflow-x: hidden; /* to x axis scrolling */
}

.chatbox .income-msg {
    display: flex;
    align-items: center;
}

.chatbox .avatar {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
}

.chatbox .income-msg .msg {
    background: white;
    color: black;
    padding: 0.5rem;
    border-radius: 25px;
    margin-left: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

.chatbox .input-area {
    position: relative;
    display: flex;
    justify-content: center;
}

.chatbox .input-area .text-input {
    width: 100%;
    border: 1px solid #ccc;
    font-size: 1rem;
    border-radius: 5px;
    height: 2.2rem;
}

.chatbox .input-area .submit {
    padding: 0.25rem 0.5rem;
    margin-left: 0.5rem;
    background: #5C53C6;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    opacity: 0.7;
    transition: 0.2s;
}

.chatbox .input-area .submit:hover {
    opacity: 1;
}

.chatbox .output-msg {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.chatbox .user-msg {
    display: flex;
    justify-content: flex-end;
    margin: 0.75rem;
    padding: 0.5rem;
    background: #5C53C6;
    color: lightgray;
    border-radius: 25px;
    margin-right: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    word-break: break-all; /* for showing long messages in the small chatbox */
}

/* HEADER */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #5C53C6;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.07);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

.navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    transition: 0.4s;
    opacity: 70%;
}

.navbar li a:hover,
.navbar li a.active {
    color: #fff;
    opacity: 100%;
}

.navbar li a.active::after,
.navbar li a:hover::after {
    content: "";
    width: 57%;
    height: 2px;
    background: #fff;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

.mobile {
    display: none;
    align-items: center;
}

#close {
    display: none;
}

/* Footer */
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: 1px solid  black;
    background: #e3e6f3;
}

footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .logo {
    margin-bottom: 30px;
}

footer h4 {
    font-size: 14px;
    padding-bottom: 20px;
}

footer p {
    font-size: 12px;
    margin: 0;
    margin-bottom: 8px;
}

footer a {
    font-size: 12px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
    transition: 0.2s;
}

footer a:hover {
    color: #5C53C6;
}

footer .col .icons {
    font-size: 20px;
    color: #1a1a1a;
    margin-bottom: 10px;
    margin-top: 3px;
}

footer .col .icons i {
    transition: 0.2s;
}

footer .col .icons i:hover {
    color: #5C53C6;
    cursor: pointer;
}

footer .copyright {
    width: 100%;
    text-align: center;
}


/* Multi media support */
/* Sizing for tablets */
@media (max-width: 960px) {
    .section-p1 {
        padding: 40px 40px;
    }

    .navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background: #e3e6f3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 0;
        padding-top: 80px;
        padding-left: 10px;
        transition: 0.4s;
    }
    
    #navbar.active {
        right: 0;
    }

    .navbar li {
        margin-bottom: 25px;
    }

    .navbar li a {
        color: #1a1a1a;
    }

    .navbar li a:hover,
    .navbar li a.active {
        color: #5C53C6;
    }

    .navbar li a.active::after,
    .navbar li a:hover::after {
        content: "";
        width: 57%;
        height: 2px;
        background: #5C53C6;
        position: absolute;
        bottom: -4px;
        left: 20px;
    }

    .mobile {
        display: flex;
        align-items: center;
    }

    .mobile i {
        color: #1a1a1a;
        padding-left: 20px;
        font-weight: 600;
        cursor: pointer;
        transition: 0.4s;
        font-size: 2em;
        padding-bottom: 5px;
    }

    .mobile a i {
        font-size: 1.25em;
        padding-left: 15px;
    }

    .mobile a,
    .mobile i,
    .mobile .login-but {
        color: #e3e6f3;
        opacity: 90%;
    }

    .mobile i:hover,
    .mobile a:hover,
    .mobile .login-but:hover {
        color: #e3e6f3;
        opacity: 100%;
    }

    .mobile a {
        text-decoration: none;
        color: #1a1a1a;
        font-size: 22px;
        font-weight: 600;
        transition: 0.4s;
    }
    
    #close {
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 24px;
        text-decoration: none;
        transition: 0.4s;
    }

    #close:hover {
        color: #5C53C6;
        cursor: pointer;
    }

    #lg-cart {
        display: none;
    }
}

/* Sizing for phone */
@media (max-width: 500px) {
    .section-p1 {
        padding: 20px;
    }

    .header {
        padding: 10px 30px;
    }

    h1 {
        font-size: 38px;
    }

    h2 {
        font-size: 32px;
    }

    .chatbox .chat-popup {
        bottom: 70px;
        right: 19%;
        width: 75vw; /* 80% of view width */
        height: 120vw;
    }
}
